In [1]:
from __future__ import print_function

import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix

NGRAMS = 2
EPOCHS = 15
#YEAR = '2000'
YEAR = '2010'

df = pd.read_csv('./data/census/census_%s.csv' % YEAR)
df.dropna(subset=['name'], inplace=True)
df.replace('(S)', 0, inplace=True)
df

,name,rank,count,prop100k,cum_prop100k,pctwhite,pctblack,pctapi,pctaian,pct2prace,pcthispanic
0,SMITH,1,2442977,828.19,828.19,70.9,23.11,0.5,0.89,2.19,2.4
1,JOHNSON,2,1932812,655.24,1483.42,58.97,34.63,0.54,0.94,2.56,2.36
2,WILLIAMS,3,1625252,550.97,2034.39,45.75,47.68,0.46,0.82,2.81,2.49
3,BROWN,4,1437026,487.16,2521.56,57.95,35.6,0.51,0.87,2.55,2.52
4,JONES,5,1425470,483.24,3004.80,55.19,38.48,0.44,1,2.61,2.29
5,GARCIA,6,1166120,395.32,3400.12,5.38,0.45,1.41,0.47,0.26,92.03
6,MILLER,7,1161437,393.74,3793.86,84.11,10.76,0.54,0.66,1.77,2.17
7,DAVIS,8,1116357,378.45,4172.31,62.2,31.6,0.49,0.82,2.45,2.44
8,RODRIGUEZ,9,1094924,371.19,4543.50,4.75,0.54,0.57,0.18,0.18,93.77
9,MARTINEZ,10,1060159,359.40,4902.90,5.28,0.49,0.6,0.51,0.22,92.91
10,HERNANDEZ,11,1043281,353.68,5256.58,3.79,0.36,0.6,0.19,0.16,94.89
11,LOPEZ,12,874523,296.47,5553.05,4.86,0.57,1.02,0.38,0.25,92.92
12,GONZALEZ,13,841025,285.11,5838.16,4.03,0.35,0.38,0.14,0.13,94.97
13,WILSON,14,801882,271.84,6110.00,67.36,25.99,0.6,1.06,2.38,2.61
14,ANDERSON,15,784404,265.92,6375.92,75.17,18.93,0.61,0.74,2.11,2.44
15,THOMAS,16,756142,256.34,6632.26,52.63,38.75,2.44,1.07,2.58,2.54
16,TAYLOR,17,751209,254.67,6886.93,65.38,28.42,0.56,0.76,2.41,2.46
17,MOORE,18,724374,245.57,7132.49,66.41,27.74,0.48,0.68,2.34,2.34
18,JACKSON,19,708099,240.05,7372.54,39.89,53.04,0.39,1.06,3.12,2.5
19,MARTIN,20,702625,238.19,7610.74,74.8,15.76,0.9,0.98,2.02,5.56
20,LEE,21,693023,234.94,7845.68,35.95,16.33,42.22,0.97,2.64,1.89
21,PEREZ,22,681645,231.08,8076.76,4.96,0.45,1.17,0.2,0.26,92.95
22,THOMPSON,23,664644,225.32,8302.08,69.78,23.57,0.57,1.22,2.37,2.49
23,WHITE,24,660491,223.91,8525.99,65.51,28.17,0.49,1.07,2.38,2.38
24,HARRIS,25,624252,211.63,8737.62,51.4,42.39,0.47,0.67,2.8,2.26
25,SANCHEZ,26,612752,207.73,8945.34,4.98,0.45,0.96,0.37,0.24,92.99
26,CLARK,27,562679,190.75,9136.10,74.65,19.02,0.54,1.01,2.19,2.58
27,RAMIREZ,28,557423,188.97,9325.07,3.89,0.31,0.93,0.2,0.19,94.48
28,LEWIS,29,531781,180.28,9505.34,58.23,34.84,0.56,1.2,2.58,2.58
29,ROBINSON,30,529821,179.61,9684.96,48.7,44.93,0.46,0.53,2.77,2.61
...,...,...,...,...,...,...,...,...,...,...,...
162224,DRAHN,160975,100,0.03,90062.08,87,0,0,0,0,0
162225,DURAI,160975,100,0.03,90062.11,11,6,79,0,0,0
162226,DRACKLEY,160975,100,0.03,90062.15,100,0,0,0,0,0
162227,DUBECKY,160975,100,0.03,90062.18,100,0,0,0,0,0
162228,DORZWEILER,160975,100,0.03,90062.22,96,0,0,0,0,0
162229,DUBREUS,160975,100,0.03,90062.25,0,99,0,0,0,0
162230,DUPATY,160975,100,0.03,90062.28,0,86,0,0,8,0
162231,DUCKSTEIN,160975,100,0.03,90062.32,98,0,0,0,0,0
162232,DRUBE,160975,100,0.03,90062.35,97,0,0,0,0,0
162233,DOTSTRY,160975,100,0.03,90062.38,0,92,0,0,0,0
162234,DUBMAN,160975,100,0.03,90062.42,90,0,0,0,0,0
162235,DIONIZIO,160975,100,0.03,90062.45,92,0,0,0,0,7
162236,DOLIVO,160975,100,0.03,90062.49,98,0,0,0,0,0
162237,DMYTRYK,160975,100,0.03,90062.52,95,0,0,0,0,0
162238,DONESKI,160975,100,0.03,90062.55,98,0,0,0,0,0
162239,DIMOVA,160975,100,0.03,90062.59,99,0,0,0,0,0
162240,DONITZEN,160975,100,0.03,90062.62,98,0,0,0,0,0
162241,DONEV,160975,100,0.03,90062.66,99,0,0,0,0,0
162242,DITLEFSEN,160975,100,0.03,90062.69,93,0,0,0,0,0
162243,DOCHNIAK,160975,100,0.03,90062.72,92,0,0,0,0,0
162244,DONNERMEYER,160975,100,0.03,90062.76,97,0,0,0,0,0
162245,DIFILLIPPO,160975,100,0.03,90062.79,100,0,0,0,0,0
162246,DITERLIZZI,160975,100,0.03,90062.83,96,0,0,0,0,0
162247,DOBRON,160975,100,0.03,90062.86,99,0,0,0,0,0
162248,DOBBEN,160975,100,0.03,90062.89,98,0,0,0,0,0
162249,DIETZMANN,160975,100,0.03,90062.93,96,0,0,0,0,0
162250,DOKAS,160975,100,0.03,90062.96,94,0,0,0,0,0
162251,DONLEA,160975,100,0.03,90062.99,94,0,0,0,0,6
162252,DORIOTT,160975,100,0.03,90063.03,89,0,0,0,5,0
162253,ALL OTHER NAMES,0,29312001,9936.97,9936.97,66.65,8.53,7.97,0.86,2.32,13.67

## Resampling with weight

In [2]:
sdf = df.sample(1000000, weights=df['count'], replace=True)

## Assign race by pertcentage

In [3]:
from numpy.random import choice

races = ['white', 'black', 'api', 'hispanic']

def to_race(c):
    w = np.array(c).astype(float)
    probs = w/w.sum()
    return choice(races, p=probs)

sdf['race'] = sdf[['pctwhite', 'pctblack', 'pctapi', 'pcthispanic']].apply(lambda c: to_race(c), axis=1)
sdf

/opt/venv/lib/python2.7/site-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in divide
  import sys
/opt/venv/lib/python2.7/site-packages/ipykernel_launcher.py:8: RuntimeWarning: invalid value encountered in less

,name,rank,count,prop100k,cum_prop100k,pctwhite,pctblack,pctapi,pctaian,pct2prace,pcthispanic,race
77312,SHULKIN,77264,248,0.08,85625.76,92.74,0,0,0,2.42,3.23,white
351,MCDANIEL,352,88728,30.08,29075.42,76.18,18.35,0.43,0.64,2.05,2.35,white
162253,ALL OTHER NAMES,0,29312001,9936.97,9936.97,66.65,8.53,7.97,0.86,2.32,13.67,white
49,ROBERTS,50,376774,127.73,12608.39,77.27,16.72,0.61,0.85,2.15,2.4,white
162253,ALL OTHER NAMES,0,29312001,9936.97,9936.97,66.65,8.53,7.97,0.86,2.32,13.67,hispanic
102802,HALMA,102688,175,0.06,87420.41,95.43,0,0,0,0,0,white
14525,CAPASSO,14523,2053,0.70,72301.13,93.67,0.39,0,0,1.07,4.68,white
142,MCDONALD,143,180497,61.19,20250.34,76.65,17.28,0.55,0.78,2.01,2.73,white
668,GLENN,669,51043,17.30,36251.61,61.41,32.78,0.48,0.63,2.39,2.32,black
120246,BLONDO,120187,144,0.05,88359.83,91.67,0,0,0,0,7.64,white
145,KENNEDY,146,176865,59.96,20430.58,80.82,13.63,0.62,0.61,1.87,2.45,white
360,TERRY,361,87000,29.49,29343.39,66.28,27.34,0.56,0.7,2.44,2.68,white
16339,TIEDEMANN,16338,1764,0.60,73471.20,94.27,0,1.81,0,1.19,1.7,white
14098,HAQ,14096,2132,0.72,71998.22,7.04,0,86.02,0,4.88,1.22,api
10609,LENOX,10607,3019,1.02,69002.13,82.97,11.06,0.89,0.4,2.12,2.55,white
12133,SHEEDY,12132,2568,0.87,70438.68,95.79,0.35,0.86,0,1.32,1.67,white
11043,LAVERTY,11044,2879,0.98,69435.53,94.86,0,0.73,0,1.67,2.43,white
489,MAXWELL,490,67961,23.04,32694.57,73.22,20.63,0.61,0.64,2.16,2.74,white
162253,ALL OTHER NAMES,0,29312001,9936.97,9936.97,66.65,8.53,7.97,0.86,2.32,13.67,black
108019,TENHOLDER,107669,165,0.06,87720.94,98.18,0,0,0,0,0,white
37284,XAYAVONG,37229,599,0.20,80506.62,3.17,0,89.48,0,6.18,1,api
42,NELSON,43,424958,144.06,11678.78,77.66,15.97,0.67,1.16,2,2.55,black
460,WU,461,71721,24.31,32007.43,1.37,0.18,96.37,0.02,1.59,0.48,api
5981,PENNEY,5982,5752,1.95,62562.52,90.06,3.25,0.78,1.16,2.17,2.57,white
3867,SMOOT,3868,9168,3.11,57363.78,66.24,28.72,0.52,0.46,2.55,1.51,black
1273,CORONADO,1274,27626,9.37,43848.37,5.21,0.24,1.02,0.76,0.21,92.56,hispanic
3249,MULLIN,3250,11103,3.76,55259.79,91.44,3.14,0.46,0.81,1.86,2.29,api
5222,BYARS,5223,6683,2.27,60966.13,77.05,17.16,0.39,0.94,2.11,2.35,white
222,PERKINS,223,131440,44.56,24332.17,69.45,24.6,0.53,0.73,2.33,2.37,black
38008,RESCIGNO,37993,584,0.20,80651.77,95.55,0,0.86,0,2.05,1.03,white
...,...,...,...,...,...,...,...,...,...,...,...,...
2328,HENRIQUEZ,2329,15657,5.31,51185.69,3.53,2.11,0.25,0.11,0.2,93.79,hispanic
534,YATES,535,63254,21.44,33693.91,80.58,14.07,0.49,0.54,2.07,2.25,white
82,CHAVEZ,83,250898,85.06,15958.71,5.02,0.21,0.65,0.94,0.23,92.96,hispanic
42918,RIDPATH,42858,505,0.17,81554.18,95.05,0,0,0,2.97,0,white
5060,GOSNELL,5060,6931,2.35,60592.45,95.25,0.82,0.35,0.52,1.53,1.53,white
162253,ALL OTHER NAMES,0,29312001,9936.97,9936.97,66.65,8.53,7.97,0.86,2.32,13.67,white
47,MITCHELL,48,384486,130.34,12352.87,61.02,32.5,0.48,1.04,2.5,2.47,black
64132,PACINO,64054,311,0.11,84384.59,88.75,0,0,0,0,10.29,white
6145,BROMLEY,6146,5576,1.89,62877.23,91.02,3.23,0.68,0.27,1.4,3.41,black
162253,ALL OTHER NAMES,0,29312001,9936.97,9936.97,66.65,8.53,7.97,0.86,2.32,13.67,white
2718,SEAMAN,2719,13237,4.49,53083.60,92.27,1.56,0.97,0.55,1.89,2.76,white
24768,TENBRINK,24762,1006,0.34,77251.14,92.25,0,0.89,2.49,2.58,1.79,white
4179,MONTELONGO,4180,8472,2.87,58297.49,4.3,0.21,0.22,0.35,0.08,94.83,hispanic
14,ANDERSON,15,784404,265.92,6375.92,75.17,18.93,0.61,0.74,2.11,2.44,white
9842,OHALLORAN,9839,3289,1.11,68182.70,93.28,0,1.03,0,1.31,3.74,api
4357,RALPH,4358,8153,2.76,58799.19,82.41,12.14,0.8,0.45,1.56,2.64,white
162253,ALL OTHER NAMES,0,29312001,9936.97,9936.97,66.65,8.53,7.97,0.86,2.32,13.67,white
130292,MUGGEO,129825,131,0.04,88828.23,95.42,0,0,0,0,0,white
147357,BLAZICK,147253,112,0.04,89529.22,98.21,0,0,0,0,0,white
3170,CAUSEY,3171,11387,3.86,54958.50,74.3,21.63,0.39,0.39,1.69,1.6,black
37432,GJERDE,37391,596,0.20,80536.57,95.81,0,0,0,2.52,0.84,white
904,CORREA,905,38232,12.96,39792.80,10.37,1,1.71,0.3,1.22,85.39,hispanic
5954,BARTZ,5954,5781,1.96,62509.75,95.47,0.31,0.66,0.28,1.21,2.08,white
162253,ALL OTHER NAMES,0,29312001,9936.97,9936.97,66.65,8.53,7.97,0.86,2.32,13.67,white
52,EVANS,53,355593,120.55,12975.22,68.39,25.72,0.47,0.74,2.3,2.39,black
328,LAMBERT,329,93678,31.76,28366.15,83.66,9.88,0.59,1.3,1.77,2.79,white
5,GARCIA,6,1166120,395.32,3400.12,5.38,0.45,1.41,0.47,0.26,92.03,hispanic
32318,MCFARLING,32302,713,0.24,79409.48,87.1,8.98,0.98,0,0.98,1.96,white
4672,HAMMETT,4673,7590,2.57,59638.76,83.1,11.2,0.76,0.51,1.82,2.61,white
1122,WOOTEN,1123,31249,10.59,42342.77,65.9,28.78,0.38,0.7,2.28,1.96,black

## Check the correctness of race assignment

In [4]:
df[df.name == 'SMITH']

,name,rank,count,prop100k,cum_prop100k,pctwhite,pctblack,pctapi,pctaian,pct2prace,pcthispanic
0,SMITH,1,2442977,828.19,828.19,70.9,23.11,0.5,0.89,2.19,2.4

In [5]:
xdf = sdf[sdf.name=='SMITH'].groupby(['race']).agg({'name': 'count'})
xdf * 100 / xdf.sum()

               name
race
api        0.585866
black     23.739778
hispanic   2.367875
white     73.306481

In [6]:
# Additional features
sdf['name_last'] = sdf.name.str.title()
sdf.groupby('race').agg({'name_last': 'count'})

          name_last
race
api           50354
black        124086
hispanic     164911
white        660649

In [7]:
len(sdf)

1000000

## Preprocessing the input data

In [8]:
# only last name in Census data
sdf['name_last_name_first'] = sdf['name_last']

# build n-gram list
vect = CountVectorizer(analyzer='char', max_df=0.3, min_df=3, ngram_range=(NGRAMS, NGRAMS), lowercase=False) 
#vect = CountVectorizer(analyzer='char', ngram_range=(2, 2), lowercase=False) 
a = vect.fit_transform(sdf.name_last_name_first)
vocab = vect.vocabulary_
len(vocab)

981

In [9]:
import operator
sorted_vocab = sorted(vocab.items(), key=operator.itemgetter(1))
cols = list(map(operator.itemgetter(0), sorted_vocab))

In [10]:
count_df = pd.DataFrame(a.todense(), columns=cols)
count_df

,N,O,Aa,Ab,Ac,Ad,Ae,Af,Ag,Ah,...,zp,zq,zr,zs,zt,zu,zv,zw,zy,zz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999970,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999971,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999972,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999973,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999974,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999975,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999976,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999977,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999978,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999979,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999980,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999981,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999982,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999983,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999984,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999985,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999986,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999987,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999988,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999989,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999990,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999991,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999992,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999993,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999994,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
count_df.sum().sort_values(ascending=False).describe()

count       981.000000
mean       6297.886850
std       18172.689125
min           3.000000
25%          74.000000
50%         832.000000
75%        4959.000000
max      253968.000000
dtype: float64

In [12]:
pd.set_option('display.max_rows', 20)
count_df.sum().sort_values(ascending=False)

er    253968
ll    174973
es    144539
am    132284
he    124455
th    119284
me    115286
on    109332
Al    108394
Na    102706
       ...
Ij         3
qa         3
Yd         3
Gd         3
fq         3
Tv         3
Uf         3
jb         3
Yn         3
Fn         3
Length: 981, dtype: int64

In [13]:
# sort n-gram by freq (highest -> lowest)
words = []
for b in vocab:
    c = vocab[b]
    #print(b, c, a[:, c].sum())
    words.append((a[:, c].sum(), b))
    #break
words = sorted(words, reverse=True)
words_list = [w[1] for w in words]
num_words = len(words_list)
print("num_words = %d" % num_words)

num_words = 981

In [14]:
def find_ngrams(text, n):
    a = zip(*[text[i:] for i in range(n)])
    wi = []
    for i in a:
        w = ''.join(i)
        try:
            idx = words_list.index(w)
        except:
            idx = 0
        wi.append(idx)
    return wi

# build X from index of n-gram sequence
X = np.array(sdf.name_last_name_first.apply(lambda c: find_ngrams(c, NGRAMS)))

# check max/avg feature
X_len = []
for x in X:
    X_len.append(len(x))

max_feature_len = max(X_len)
avg_feature_len = int(np.mean(X_len))

print("Max feature len = %d, Avg. feature len = %d" % (max_feature_len, avg_feature_len))
y = np.array(sdf.race.astype('category').cat.codes)

# Split train and test dataset
X_train,  X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=21, stratify=y)

Max feature len = 14, Avg. feature len = 6

## Train a LSTM model

ref: http://machinelearningmastery.com/sequence-classification-lstm-recurrent-neural-networks-python-keras/

In [15]:
'''The dataset is actually too small for LSTM to be of any advantage
compared to simpler, much faster methods such as TF-IDF + LogReg.
Notes:

- RNNs are tricky. Choice of batch size is important,
choice of loss and optimizer is critical, etc.
Some configurations won't converge.

- LSTM loss decrease patterns during training can be quite different
from what you see with CNNs/MLPs/etc.
'''
import keras
from keras.preprocessing import sequence
from keras.models import Sequential
from keras.layers import Dense, Embedding, Dropout, Activation
from keras.layers import LSTM
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D
from keras.models import load_model

max_features = num_words # 20000
feature_len = 20 # avg_feature_len # cut texts after this number of words (among top max_features most common words)
batch_size = 32

print(len(X_train), 'train sequences')
print(len(X_test), 'test sequences')

print('Pad sequences (samples x time)')
X_train = sequence.pad_sequences(X_train, maxlen=feature_len)
X_test = sequence.pad_sequences(X_test, maxlen=feature_len)
print('X_train shape:', X_train.shape)
print('X_test shape:', X_test.shape)

num_classes = np.max(y_train) + 1
print(num_classes, 'classes')

print('Convert class vector to binary class matrix '
      '(for use with categorical_crossentropy)')
y_train = keras.utils.to_categorical(y_train, num_classes)
y_test = keras.utils.to_categorical(y_test, num_classes)
print('y_train shape:', y_train.shape)
print('y_test shape:', y_test.shape)

/opt/venv/local/lib/python2.7/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

800000 train sequences
200000 test sequences
Pad sequences (samples x time)
X_train shape: (800000, 20)
X_test shape: (200000, 20)
4 classes
Convert class vector to binary class matrix (for use with categorical_crossentropy)
y_train shape: (800000, 4)
y_test shape: (200000, 4)

In [16]:
print('Build model...')

model = Sequential()
model.add(Embedding(num_words, 32, input_length=feature_len))
model.add(LSTM(128, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(num_classes, activation='softmax'))

# try using different optimizers and different optimizer configs
model.compile(loss='categorical_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

print(model.summary())

Build model...
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 20, 32)            31392
_________________________________________________________________
lstm_1 (LSTM)                (None, 128)               82432
_________________________________________________________________
dense_1 (Dense)              (None, 4)                 516
=================================================================
Total params: 114,340
Trainable params: 114,340
Non-trainable params: 0
_________________________________________________________________
None

In [17]:
print('Train...')
model.fit(X_train, y_train, batch_size=batch_size, epochs=EPOCHS,
          validation_split=0.1, verbose=2)
score, acc = model.evaluate(X_test, y_test,
                            batch_size=batch_size, verbose=2)
print('Test score:', score)
print('Test accuracy:', acc)

Train...
Train on 720000 samples, validate on 80000 samples
Epoch 1/15
 - 1703s - loss: 0.6550 - acc: 0.7760 - val_loss: 0.6267 - val_acc: 0.7851
Epoch 2/15
 - 1699s - loss: 0.6175 - acc: 0.7888 - val_loss: 0.6067 - val_acc: 0.7916
Epoch 3/15
 - 1703s - loss: 0.6033 - acc: 0.7931 - val_loss: 0.5974 - val_acc: 0.7946
Epoch 4/15
 - 1701s - loss: 0.5955 - acc: 0.7954 - val_loss: 0.5912 - val_acc: 0.7959
Epoch 5/15
 - 1655s - loss: 0.5908 - acc: 0.7964 - val_loss: 0.5851 - val_acc: 0.7971
Epoch 6/15
 - 1641s - loss: 0.5874 - acc: 0.7974 - val_loss: 0.5834 - val_acc: 0.7991
Epoch 7/15
 - 1489s - loss: 0.5854 - acc: 0.7980 - val_loss: 0.5819 - val_acc: 0.7997
Epoch 8/15
 - 1382s - loss: 0.5837 - acc: 0.7985 - val_loss: 0.5794 - val_acc: 0.7997
Epoch 9/15
 - 1370s - loss: 0.5821 - acc: 0.7989 - val_loss: 0.5790 - val_acc: 0.7998
Epoch 10/15
 - 1039s - loss: 0.5813 - acc: 0.7990 - val_loss: 0.5776 - val_acc: 0.8000
Epoch 11/15
 - 601s - loss: 0.5809 - acc: 0.7993 - val_loss: 0.5760 - val_acc: 0.8012
Epoch 12/15
 - 510s - loss: 0.5801 - acc: 0.7995 - val_loss: 0.5764 - val_acc: 0.8010
Epoch 13/15
 - 511s - loss: 0.5795 - acc: 0.7996 - val_loss: 0.5775 - val_acc: 0.8009
Epoch 14/15
 - 520s - loss: 0.5787 - acc: 0.7996 - val_loss: 0.5766 - val_acc: 0.8014
Epoch 15/15
 - 514s - loss: 0.5783 - acc: 0.7997 - val_loss: 0.5748 - val_acc: 0.8015
Test score: 0.5758316050934792
Test accuracy: 0.801955

## Confusion Matrix

In [18]:
y_pred = model.predict_classes(X_test, verbose=2)
p = model.predict_proba(X_test, verbose=2) # to predict probability
target_names = list(sdf.race.astype('category').cat.categories)
print(classification_report(np.argmax(y_test, axis=1), y_pred, target_names=target_names))
print(confusion_matrix(np.argmax(y_test, axis=1), y_pred))

             precision    recall  f1-score   support

        api       0.84      0.57      0.68     10071
      black       0.57      0.07      0.12     24817
   hispanic       0.88      0.76      0.82     32982
      white       0.79      0.97      0.87    132130

avg / total       0.78      0.80      0.76    200000

[[  5743     42    796   3490]
 [   257   1693    218  22649]
 [   173     82  25118   7609]
 [   694   1157   2442 127837]]

## Save model

In [19]:
model.save('./models/census/lstm/census%s_ln_lstm.h5' % YEAR)

In [20]:
words_df = pd.DataFrame(words_list, columns=['vocab'])
words_df.to_csv('./models/census/lstm/census%s_ln_vocab.csv' % YEAR, index=False, encoding='utf-8')