In [1]:
import os
import sys
import pandas as pd
import re
from sklearn.utils import shuffle
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix

In [2]:
data_path = "../data/voters_csv/"
columns = ["CountyCode","VoterID","LastName","FirstName","MiddleName","Race","DOB"]
files = os.listdir(data_path)

In [3]:
def tryint(s):
    try:
        return int(s)
    except ValueError:
        return s

def alphanum_key(s):
    return [ tryint(c) for c in re.split('([0-9]+)', s) ]

def sort_nicely(l):
    l.sort(key=alphanum_key)

sort_nicely(files)
files

['ALA_20170207.csv',
 'BAK_20170207.csv',
 'BAY_20170207.csv',
 'BRA_20170207.csv',
 'BRE_20170207.csv',
 'BRO_20170207.csv',
 'CAL_20170207.csv',
 'CHA_20170207.csv',
 'CIT_20170207.csv',
 'CLA_20170207.csv',
 'CLL_20170207.csv',
 'CLM_20170207.csv',
 'DAD_20170207.csv',
 'DES_20170207.csv',
 'DIX_20170207.csv',
 'DUV_20170207.csv',
 'ESC_20170207.csv',
 'FLA_20170207.csv',
 'FRA_20170207.csv',
 'GAD_20170207.csv',
 'GIL_20170207.csv',
 'GLA_20170207.csv',
 'GUL_20170207.csv',
 'HAM_20170207.csv',
 'HAR_20170207.csv',
 'HEN_20170207.csv',
 'HER_20170207.csv',
 'HIG_20170207.csv',
 'HIL_20170207.csv',
 'HOL_20170207.csv',
 'IND_20170207.csv',
 'JAC_20170207.csv',
 'JEF_20170207.csv',
 'LAF_20170207.csv',
 'LAK_20170207.csv',
 'LEE_20170207.csv',
 'LEO_20170207.csv',
 'LEV_20170207.csv',
 'LIB_20170207.csv',
 'MAD_20170207.csv',
 'MAN_20170207.csv',
 'MON_20170207.csv',
 'MRN_20170207.csv',
 'MRT_20170207.csv',
 'NAS_20170207.csv',
 'OKA_20170207.csv',
 'OKE_20170207.csv',
 'ORA_20170207.csv',
 'OSC_20170207.csv',
 'PAL_20170207.csv',
 'PAS_20170207.csv',
 'PIN_20170207.csv',
 'POL_20170207.csv',
 'PUT_20170207.csv',
 'SAN_20170207.csv',
 'SAR_20170207.csv',
 'SEM_20170207.csv',
 'STJ_20170207.csv',
 'STL_20170207.csv',
 'SUM_20170207.csv',
 'SUW_20170207.csv',
 'TAY_20170207.csv',
 'UNI_20170207.csv',
 'VOL_20170207.csv',
 'WAK_20170207.csv',
 'WAL_20170207.csv',
 'WAS_20170207.csv']

In [4]:
df = pd.DataFrame(columns=columns)

for file in files:
    temp_df = pd.read_csv(data_path+file)
    df_list = [df, temp_df]
    df = pd.concat(df_list)

In [5]:
df

,CountyCode,VoterID,LastName,FirstName,MiddleName,Race,DOB,Unnamed: 0
0,ALA,102947246,Walker,Elizabeth,A,5,12/28/1961,0.0
1,ALA,122030263,Palmer,Alton,Douglas,5,03/14/1943,0.0
2,ALA,101628984,Mc Cleod,Alicia,D,3,08/20/1966,0.0
3,ALA,101669113,Scarborough,Dale,Fredrick,5,03/07/1951,0.0
4,ALA,101745548,Walker,Daniel,Ray,5,06/22/1955,0.0
...,...,...,...,...,...,...,...,...
15804,WAS,100698798,Walters,William,Walter,5,07/25/1946,0.0
15805,WAS,104711661,Sawyer,Matthew,Lee,5,07/01/1984,0.0
15806,WAS,100726687,Thomas,Janine,O'Riska,5,03/02/1987,0.0
15807,WAS,122496331,Campbell,Angel,Rose,7,08/14/1998,0.0
15808,WAS,122291178,Bruner,Jeb,Ellis,5,04/10/1997,0.0

In [6]:
df = df.dropna()
df['Race'] = df['Race'].replace([9],8)

<ipython-input-6-455d8b9a0eb4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Race'] = df['Race'].replace([9],8)

In [7]:
df.Race.value_counts()

5    7648545
3    1396642
4    1239698
8     200862
2     173564
6     143900
7      73845
1      38359
Name: Race, dtype: int64

In [8]:
new_df = df.copy()
new_df

,CountyCode,VoterID,LastName,FirstName,MiddleName,Race,DOB,Unnamed: 0
0,ALA,102947246,Walker,Elizabeth,A,5,12/28/1961,0.0
1,ALA,122030263,Palmer,Alton,Douglas,5,03/14/1943,0.0
2,ALA,101628984,Mc Cleod,Alicia,D,3,08/20/1966,0.0
3,ALA,101669113,Scarborough,Dale,Fredrick,5,03/07/1951,0.0
4,ALA,101745548,Walker,Daniel,Ray,5,06/22/1955,0.0
...,...,...,...,...,...,...,...,...
15804,WAS,100698798,Walters,William,Walter,5,07/25/1946,0.0
15805,WAS,104711661,Sawyer,Matthew,Lee,5,07/01/1984,0.0
15806,WAS,100726687,Thomas,Janine,O'Riska,5,03/02/1987,0.0
15807,WAS,122496331,Campbell,Angel,Rose,7,08/14/1998,0.0
15808,WAS,122291178,Bruner,Jeb,Ellis,5,04/10/1997,0.0

In [9]:
new_df['Race'] = new_df['Race'].replace([1],10)
new_df['Race'] = new_df['Race'].replace([2],1)
new_df['Race'] = new_df['Race'].replace([3],2)
new_df['Race'] = new_df['Race'].replace([4],3)
new_df['Race'] = new_df['Race'].replace([5],4)
new_df['Race'] = new_df['Race'].replace([6],10)
new_df['Race'] = new_df['Race'].replace([7],10)
new_df['Race'] = new_df['Race'].replace([8],10)
new_df['Race'] = new_df['Race'].replace([10],5)

In [10]:
new_df.Race.value_counts()

4    7648545
2    1396642
3    1239698
5     456966
1     173564
Name: Race, dtype: int64

In [11]:
final_df = pd.DataFrame(columns=columns)

for i in range(9):
    temp_df = new_df.loc[new_df['Race'] == i]
    temp_df = temp_df[:][:100000]
    df_list = [final_df, temp_df]
    final_df = pd.concat(df_list)

In [12]:
final_df.Race.value_counts()

5    100000
4    100000
3    100000
2    100000
1    100000
Name: Race, dtype: int64

In [13]:
final_df

,CountyCode,VoterID,LastName,FirstName,MiddleName,Race,DOB,Unnamed: 0
17,ALA,102092701,Estores,David,Suarez,1,08/04/1960,0.0
86,ALA,102502801,Jarvinen,Vilma,J,1,02/12/1987,0.0
142,ALA,111784844,Hossain,Begum,R,1,07/31/1956,0.0
208,ALA,114347572,Tran,Cac,Van,1,10/28/1963,0.0
248,ALA,114274710,Haider,Mohammad,L,1,12/16/1987,0.0
...,...,...,...,...,...,...,...,...
672964,DAD,109872648,Benjamin,Mary,T,5,09/06/1932,0.0
672968,DAD,109722566,Aguilar,Martha,G,5,02/11/1958,0.0
672973,DAD,109863102,Claudio,Luis,Yoel,5,06/06/1981,0.0
672988,DAD,109964609,Roges,Pedro,P,5,05/12/1946,0.0
672996,DAD,110131886,Tuttle,Katherine,R,5,09/28/1983,0.0

In [14]:
from collections import Counter
from imblearn.over_sampling import SMOTE
from matplotlib import pyplot
from numpy import where

In [15]:
NGRAMS = 2
vect = CountVectorizer(analyzer='char', max_df=0.3, min_df=3, ngram_range=(NGRAMS, NGRAMS), lowercase=False) 
last_name_vecs = vect.fit_transform(final_df.LastName)

In [16]:
vocab = vect.vocabulary_

In [17]:
words = []
for b in vocab:
    c = vocab[b]
    words.append((last_name_vecs[:, c].sum(), b))

words = sorted(words, reverse=True)
words_list = [w[1] for w in words]
num_words = len(words_list)
print("num_words = %d" % num_words)

num_words = 1707

In [18]:
def find_ngrams(text, n):
    a = zip(*[text[i:] for i in range(n)])
    wi = []
    for i in a:
        w = ''.join(i)
        try:
            idx = words_list.index(w)
        except:
            idx = 0
        wi.append(idx)
    return wi

In [19]:
X = np.array(final_df.LastName.apply(lambda c: find_ngrams(c, NGRAMS)))
X

array([list([324, 50, 41, 15, 11, 13]),
       list([182, 3, 389, 126, 4, 18, 6]),
       list([133, 39, 119, 129, 112, 4]), ...,
       list([240, 21, 125, 259, 164, 151]), list([43, 338, 123, 13]),
       list([394, 184, 54, 330, 7])], dtype=object)

In [20]:
# check max/avg feature
X_len = []
for x in X:
    X_len.append(len(x))

max_feature_len = max(X_len)
avg_feature_len = int(np.mean(X_len))
print("Max feature len = %d, Avg. feature len = %d" % (max_feature_len, avg_feature_len))

Max feature len = 27, Avg. feature len = 5

In [21]:
y = np.array(final_df.Race.astype('category').cat.codes)
y

array([0, 0, 0, ..., 4, 4, 4], dtype=int8)

In [22]:
# Split train and test dataset
X_train,  X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=21, stratify=y)

In [23]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((400000,), (400000,), (100000,), (100000,))

In [24]:
'''The dataset is actually too small for LSTM to be of any advantage
compared to simpler, much faster methods such as TF-IDF + LogReg.
Notes:

- RNNs are tricky. Choice of batch size is important,
choice of loss and optimizer is critical, etc.
Some configurations won't converge.

- LSTM loss decrease patterns during training can be quite different
from what you see with CNNs/MLPs/etc.
'''
import keras
from keras.preprocessing import sequence
from keras.models import Sequential
from keras.layers import Dense, Embedding, Dropout, Activation
from keras.layers import LSTM
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D
from keras.models import load_model

max_features = num_words # 20000
feature_len = 20 # avg_feature_len # cut texts after this number of words (among top max_features most common words)
batch_size = 32

print(len(X_train), 'train sequences')
print(len(X_test), 'test sequences')

print('Pad sequences (samples x time)')
X_train = sequence.pad_sequences(X_train, maxlen=feature_len)
X_test = sequence.pad_sequences(X_test, maxlen=feature_len)
print('X_train shape:', X_train.shape)
print('X_test shape:', X_test.shape)

num_classes = np.max(y_train) + 1
print(num_classes, 'classes')

400000 train sequences
100000 test sequences
Pad sequences (samples x time)
X_train shape: (400000, 20)
X_test shape: (100000, 20)
5 classes

In [25]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((400000, 20), (400000,), (100000, 20), (100000,))

In [26]:
counter = Counter(y_train)
print(counter)

Counter({0: 80000, 4: 80000, 1: 80000, 2: 80000, 3: 80000})

In [27]:
# transform the dataset
oversample = SMOTE()
newX, newy = oversample.fit_resample(X_train, y_train)
# summarize the new class distribution
counter = Counter(newy)
print(counter)

Counter({0: 80000, 4: 80000, 1: 80000, 2: 80000, 3: 80000})

In [28]:
newX.shape, newy.shape

((400000, 20), (400000,))

In [29]:
newX

array([[  0,   0,   0, ...,  50, 171,  23],
       [  0,   0,   0, ...,  60, 164,   4],
       [  0,   0,   0, ...,  84,  48,  74],
       ...,
       [  0,   0,   0, ...,  61,  17,   2],
       [  0,   0,   0, ...,   2,  18,  13],
       [  0,   0,   0, ..., 803, 877, 219]], dtype=int32)

In [30]:
X_train

array([[  0,   0,   0, ...,  50, 171,  23],
       [  0,   0,   0, ...,  60, 164,   4],
       [  0,   0,   0, ...,  84,  48,  74],
       ...,
       [  0,   0,   0, ...,  61,  17,   2],
       [  0,   0,   0, ...,   2,  18,  13],
       [  0,   0,   0, ..., 803, 877, 219]], dtype=int32)

In [31]:
print('Convert class vector to binary class matrix '
      '(for use with categorical_crossentropy)')
y_train_hot = keras.utils.to_categorical(newy, num_classes)
y_test_hot = keras.utils.to_categorical(y_test, num_classes)
print('y_train shape:', y_train_hot.shape)
print('y_test shape:', y_test_hot.shape)

Convert class vector to binary class matrix (for use with categorical_crossentropy)
y_train shape: (400000, 5)
y_test shape: (100000, 5)

In [32]:
print('Build model...')

model = Sequential()
model.add(Embedding(num_words, 32, input_length=feature_len))
model.add(LSTM(128, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(num_classes, activation='softmax'))

# try using different optimizers and different optimizer configs
model.compile(loss='categorical_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

print(model.summary())

Build model...
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 20, 32)            54624
_________________________________________________________________
lstm (LSTM)                  (None, 128)               82432
_________________________________________________________________
dense (Dense)                (None, 5)                 645
=================================================================
Total params: 137,701
Trainable params: 137,701
Non-trainable params: 0
_________________________________________________________________
None

In [33]:
SAMPLE = 1000000
EPOCHS = 10

In [34]:
print('Train...')
model.fit(newX, y_train_hot, batch_size=batch_size, epochs=EPOCHS,
          validation_split=0.1, verbose=2)
score, acc = model.evaluate(X_test, y_test_hot,
                            batch_size=batch_size, verbose=2)
print('Test score:', score)
print('Test accuracy:', acc)

Train...
Epoch 1/10
11250/11250 - 211s - loss: 1.2606 - accuracy: 0.4783 - val_loss: 1.2142 - val_accuracy: 0.5042
Epoch 2/10
11250/11250 - 205s - loss: 1.2120 - accuracy: 0.5031 - val_loss: 1.1987 - val_accuracy: 0.5148
Epoch 3/10
11250/11250 - 210s - loss: 1.1923 - accuracy: 0.5140 - val_loss: 1.1811 - val_accuracy: 0.5207
Epoch 4/10
11250/11250 - 224s - loss: 1.1776 - accuracy: 0.5224 - val_loss: 1.1706 - val_accuracy: 0.5297
Epoch 5/10
11250/11250 - 223s - loss: 1.1663 - accuracy: 0.5288 - val_loss: 1.1633 - val_accuracy: 0.5345
Epoch 6/10
11250/11250 - 234s - loss: 1.1579 - accuracy: 0.5336 - val_loss: 1.1580 - val_accuracy: 0.5374
Epoch 7/10
11250/11250 - 244s - loss: 1.1508 - accuracy: 0.5368 - val_loss: 1.1565 - val_accuracy: 0.5360
Epoch 8/10
11250/11250 - 228s - loss: 1.1453 - accuracy: 0.5398 - val_loss: 1.1497 - val_accuracy: 0.5414
Epoch 9/10
11250/11250 - 214s - loss: 1.1416 - accuracy: 0.5423 - val_loss: 1.1486 - val_accuracy: 0.5437
Epoch 10/10
11250/11250 - 212s - loss: 1.1369 - accuracy: 0.5441 - val_loss: 1.1456 - val_accuracy: 0.5439
3125/3125 - 11s - loss: 1.1521 - accuracy: 0.5397
Test score: 1.1520525217056274
Test accuracy: 0.5397499799728394

## Confusion Matrix

In [38]:
y_pred = model.predict_classes(X_test, verbose=2)
p = model.predict_proba(X_test, verbose=2) # to predict probability
target_names = ['Asian Or Pacific Islander','Black, Not Hispanic','Hispanic','White, Not Hispanic','Other']
print(classification_report(np.argmax(y_test_hot, axis=1), y_pred, target_names=target_names))
print(confusion_matrix(np.argmax(y_test_hot, axis=1), y_pred))

3125/3125 - 10s
3125/3125 - 9s
                           precision    recall  f1-score   support

Asian Or Pacific Islander       0.71      0.58      0.64     20000
      Black, Not Hispanic       0.48      0.70      0.57     20000
                 Hispanic       0.66      0.75      0.70     20000
      White, Not Hispanic       0.44      0.59      0.50     20000
                    Other       0.32      0.08      0.13     20000

                 accuracy                           0.54    100000
                macro avg       0.52      0.54      0.51    100000
             weighted avg       0.52      0.54      0.51    100000

[[11601  2086  2351  2831  1131]
 [  621 13942   412  4234   791]
 [  994  1075 15068  2199   664]
 [  620  5896   932 11808   744]
 [ 2595  5809  4166  5874  1556]]

## Save model

In [36]:
model.save('./models/fl_voter_reg/lstm/fl_all_ln_lstm_5_cat.h5')
words_df = pd.DataFrame(words_list, columns=['vocab'])
words_df.to_csv('./models/fl_voter_reg/lstm/fl_all_ln_vocab_5_cat.csv', index=False, encoding='utf-8')